{% extends "_global/index.html" %} {% block main %}
<div class="row">
    <form method="POST" class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3" id="card" enctype="multipart/form-data" onsubmit="return validateProductForm();">
        <h2 class="mb-0 ml-3 pt-2">Izmena proizvoda</h2>
        <div class="card">
            <div class="card-header">
                <div class="row btn-group">
                    <a class="btn btn-outline-primary ml-3" href="{{ BASE }}admin/products">Nazad</a>
                    <a class="btn btn-outline-primary" href="{{ BASE }}admin/products/add">Dodaj</a>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="name">Ime</label>
                    <input type="text" id="name" class="form-control" name="name" value="{{ product.name|escape }}" placeholder="Unesite ime">
                </div>
                <div class="form-group">
                    <label for="description">Opis</label>
                    <input type="text" id="description" class="form-control" name="description" value="{{ product.description|escape }}" placeholder="Opis...">
                </div>
                <div class="form-group">
                    <label for="price">Cena</label>
                    <input type="number" id="price" class="form-control" name="price" min="0.01" step="0.01" value="{{ product.price }}" placeholder="Unesite cenu">
                </div>
                <div class="form-group">
                    <label for="categoryId">Kategorija</label>
                    <select name="category_id" id="categoryId" class="form-control">
                        <option value="" disabled selected>Izaberite vašu kategoriju</option>
                        {% for category in categories %}
                            <option value="{{ category.category_id }}" {% if category.category_id == product.category_id %} selected="selected" {% endif %}>{{category.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="colour">Boja</label>
                    <input type="text" id="colour" class="form-control" name="colour" value="{{ product.colour|escape }}" placeholder="Unesite boju">
                </div>
                <div class="form-group">
                        <label for="originCountry">Zemlja porekla</label>
                        <input type="text" id="originCountry" class="form-control" name="originCountry" value="{{ product.originCountry|escape }}" placeholder="Unesite zemlju porekla">
                </div>
                <div class="form-group">
                    <label for="image"> Prilog:</label>
                    <input type="file" id="image" class="form-control" name="image" accept="image/jpeg, image/png" >
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary btn-block" type="submit">Izmeni</button>
            </div>
        </div>  
        <div class="alert alert-warning d-none" id="error-message"></div>
    </form>
</div>
{% endblock %}