{% extends "_global/index.html" %} {% block main %}
<div class="row mt-3">
    <a href="{{ BASE }}admin/productIngredients" class="btn btn-outline-secondary">Lista sastojaka u proizvodu</a>
</div>
<div class="alert alert-danger" role="alert">
    <p class="p-3">{{ message|escape }}</p>
</div>
{% endblock %}