{% extends "_global/index.html" %} {% block main %}
<div class="row">
    <form method="POST" class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3" id="card">
        <h2 class="mb-0 ml-3 pt-2">Dodavanje sastojaka za proizvod</h2>
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <a class="btn btn-outline-primary ml-3" href="{{ BASE }}admin/productIngredients">Nazad</a>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="productId">Izaberite proizvod</label>
                    <select name="product_id" id="productId" class="form-control" required>
                        <option value="" disabled selected>Izaberite proizvod</option>
                        {% for product in products %}
                            <option value="{{ product.product_id }}">{{product.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="ingredientId">Izaberite sastojak</label>
                    <select name="ingredient_id" id="ingredientId" class="form-control" required>
                        <option value="" disabled selected>Izaberite sastojak</option>
                        {% for ingredient in ingredients %}
                            <option value="{{ ingredient.ingredient_id }}">{{ingredient.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary btn-block" type="submit">Dodaj</button>
            </div>
        </div>
        <div class="alert alert-warning d-none" id="error-message"></div>
    </form>
</div>
{% endblock %}