{% extends "_global/index.html" %} {% block main %}
<div class="row mt-3">
    <a href="{{ BASE }}admin/ingredients" class="btn btn-outline-secondary">Lista sastojaka</a>
</div>
<div class="alert alert-warning" role="alert">
    <p class="p-3">{{ message|escape }}</p>
</div>
{% endblock %}