{% extends "_global/index.html" %} {% block main %}
    {% for product in productsInCategory %}
    <div class="product row">
        <div class="col-12 col-md-3">
            <a href="{{ BASE }}product/{{ product.product_id }}">
                <img src="{{ BASE }}assets/uploads/{{ product.image }}" class="image" alt="Slika - {{ product.product_id }}">
            </a>
        </div>
        <div class="col-12 col-md-9">
            <a href="{{ BASE }}product/{{ product.product_id }}" class="product-title">
                {{ product.name|escape }}
            </a>
            <div class="row">
                <span class="col-12 col-md-4"> {{ product.price|escape }} Din</span>
            </div>
        </div>
    </div>   
    {% endfor %}
{% endblock %} {% block naslov %} {{ category.name|escape }} {% endblock %}