{% extends "_global/index.html" %} {% block main %}
<div class="row">
    <a href="{{ BASE }}admin/order" class="btn btn-outline-secondary">Spisak porudzbina</a>
</div>
<div class="alert alert-danger" role="alert">
    <p class="p-4">{{ message|escape }}</p>
</div>
{% endblock %}