{% extends "_global/index.html" %} {% block main %}
<div class="row">
    <form method="POST" class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3" id="card">
        <h2 class="mb-0 ml-3 pt-2">Izmena porudzbinu</h2>
        <div class="card">
            <div class="card-header">
                <div class="row btn-group">
                    <a class="btn btn-outline-primary ml-3" href="{{ BASE }}admin/orders"><i class="fa fa-list" aria-hidden="true"></i>Nazad</a>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="status">Status</label>
                    <select name="order_status" id="status" class="form-control">
                            <option value="na_cekanju" selected>Na cekanju</option>
                            <option value="isporuceno" >Isporuceno</option>
                            <option value="otkazano" >Otkazano</option>
                    </select>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary btn-block" type="submit">Izmeni</button>
            </div>
        </div>
        <div class="alert alert-warning d-none" id="error-message"></div>
    </form>
</div>
{% endblock %}