{% extends "_global/index.html" %} {% block main %}
{% for order in orders %}
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <p class="col-10 col-sm-10 col-md-10 m-0 p-2 pl-3">
                        <a class="order-list" href="{{ BASE }}admin/order/{{ order.order_id }}" >
                        Ime i prezime: {{ order.buyer_name|escape }} {{ order.buyer_surname|escape }}
                        <br>
                        Adresa: {{order.buyer_address}}<br>
                        Email: {{order.buyer_contact}}<br>
                        Status: {{order.order_status}}</a>
                    </p>
                    <div class="col-2 col-sm-2 col-md-2 p-2 mt-3">
                        <a class="delete1 pull-right" href="{{ BASE }}admin/order/delete/{{ order.order_id }}" onclick='if(!confirm("Da li ste sigurni?"))return false;'><i class="fa fa-times-circle" aria-hidden="true"></i></a>
                        <a class="edit pull-right" href="{{ BASE }}admin/order/edit/{{ order.order_id }}"><i class="fa fa-pencil-square" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="btn-group mt-2" id="card">
            <a href="{{ BASE }}admin/profile" class="btn btn-outline-secondary">Nazad</a>
        </div>
{% endblock %}