{% extends "_global/index.html" %} {% block main %}
<div class="row">
    <form action="{{ BASE }}order" method="POST" class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3" id="card" onsubmit="return validateOrderForm();">
        <div class="card">
            <div class="card-header">
                Korpa
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="buyer_name" class="cols-sm-2 control-label">Ime</label>
                    <input type="text" class="form-control" name="buyer_name" id="buyer_name"  required placeholder="Unesite svoje ime" >
                </div>
                <div class="form-group">
                    <label for="buyer_surname" class="cols-sm-2 control-label">Prezime</label>
                    <input type="text" class="form-control" name="buyer_surname" id="buyer_surname"  required placeholder="Unesite svoje prezime" >
                </div>
                <div class="form-group">
                    <label for="buyer_address" class="cols-sm-2 control-label">Adresa</label>
                    <input type="text" class="form-control" name="buyer_address" id="buyer_address"  required placeholder="Unesite svoju adresu" >
                </div>
                <div class="form-group">
                    <label for="buyer_contact" class="cols-sm-2 control-label">Telefon</label>
                    <input type="text" class="form-control" name="buyer_contact" id="buyer_contact"  required placeholder="Unesite svoj broj telefona">
                </div>
                <div class="form-group">
                    <label for="buyer_email" class="cols-sm-2 control-label">Email</label>
                    <input type="email" class="form-control" name="buyer_email" id="buyer_email"  required placeholder="Unesite svoj email">
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary" type="submit">Zavrsi kupovinu</button>
                <button class="btn btn-warning" type="button">Odustani</button>
            </div>
        </div>
        <div class="alert alert-warning d-none" id="error-message"></div>
    </form>
</div>
 {% endblock %}