{% extends "_global/index.html" %} {% block main %} 
<div class="alert alert-secondary" role="alert">
    <p class="p-4">{{ message|escape }}</p>
    <p>Klikni <a href="{{ BASE }}order">ovde</a>da se vratis nazad.</p>
</div>
 {% endblock %}