{% extends "_global/index.html" %} {% block main %}
{% for product in products %}
<div class="row product-body" id="field">
    <div class="col-12 col-md-6 product-box">
        <img src="{{ BASE }}assets/uploads/{{ product.image }}" class="image" alt="Slika - {{ product.product_id }}">
    </div>
    <div class="col-12 col-md-6" >
        <p class="lead">Proizvođač: {{ product.originCountry|escape }}</p>
        <p class="lead">Ime: {{ product.name|escape }}</p>
        <p class="lead">Opis: {{ product.description|escape }}</p>
        <p class="lead">Sastojci:
        {% for productIngredient in productIngredients %}
         {{ productIngredient.sastojak|escape }},
        {% endfor %}
        </p>
        <p class="lead">Cena: <span> {{ product.price|escape }} Din</span></p>
        <a href="#" class="btn btn-warning" onclick="addToOrder({{ product.product_id }})">Dodaj u kropu <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
    </div>
</div>
{% endfor %}
{% endblock %} {% block naslov %} {{ product.name|escape }} {% endblock %}
