{% extends "_global/index.html" %} {% block main %} {% spaceless %}
<div class="col-md-12 mt-2">
    <h1>O nama</h1>
</div>
<div class="container">
    <div class="container-fluid" >
        <div class="row" >
            <div class="col-md-12 about">
                <p>Mi smo ono uvek nasmejano i &scaron;areno mesta&scaron;ce u tržnim centrima &scaron;irom Srbije! Kutak oko kog se okupljaju svi: od razigrane dece koje vuku za rukav svoje mame u želji da probaju &scaron;to vi&scaron;e slatki&scaron;a, preko parova i galantnih mu&scaron;karaca koji svojim lep&scaron;im polovinama kupuju bombončiće kod nas, pa sve do baka i deka koji zastaju da se zaslade na&scaron;im slatki&scaron;ima.</p>
                
                <p>Počeli smo sa radom 2012. godine kao mala porodična firma, i to u Delta City-ju u Beogradu, a danas na&scaron;e &scaron;tandove možete naći i u Novom Sadu, Ni&scaron;u i&nbsp;Kragujevcu.</p>
                
                <p>Trudimo se da u na&scaron;oj slatkoj ponudi svako nađe ne&scaron;to spram svog ukusa, pa su tu i gumeni i čokoladni slatki&scaron;i, oni bez glutena, ali i oni za dijabetičare. Do danas u svojoj slatkoj kuhinji imamo vi&scaron;e od 120 različitih ukusa.</p>
                
                <p>Ne planiramo da se ovde zaustavimo! Želimo da Vas iznova radujemo novim slatki&scaron;ima i unikatnim, ukusnim kombinacijama koje nigde do sad niste mogli da probate! Zato smo stalno otvoreni i za Va&scaron;e kritike, predloge, ideje. Zato čvrsto verujemo da možemo porasti u lep&scaron;e i bolje samo ako se sa Vama neprekidno družimo i igramo.</p>
                
                <p>Zaplovimo zajedno na&scaron;om slatkom, ukusnom, hrskavom, kiselkastom, karamelastom, gumeno-penastom bajkom! :)</p>      
            </div>
        </div>
    </div>
</div>

{% endspaceless %} {% endblock %}