{% extends "_global/index.html" %} {% block main %} {% spaceless %}
<div class="container mt-2">
    <div class="row">
        <div class="col-md-4">
            <h1>Kontakt</h1>
            <p>Bulevar Zorana Đinđića 181A/20
            11070 Novi Beograd, Srbija</p>
            <p>Telefon: <a href="tel:0117138021">011/713-8021</a></p> 
            <p>Email: <a href="mailto:office@slatki-svet.rs">office@slatki-svet.rs</a></p>     
        </div>
        <div class="col-md-8 mt-2">
            <div id="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2829.89053884635!2d20.402791515536112!3d44.82379457909855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a65781321daa7%3A0x2b422c656d003e5a!2z0JHRg9C70LXQstCw0YAg0JfQvtGA0LDQvdCwINCC0LjQvdGS0LjRm9CwIDE4MSwg0JHQtdC-0LPRgNCw0LQ!5e0!3m2!1ssr!2srs!4v1536444362564" width="520" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

{% endspaceless %} {% endblock %}