{% extends "_global/index.html" %} {% block main %}
<div class="row">
    <form action="{{ BASE }}admin/register" method="POST" class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3" onsubmit="return validateRegisterForm();">
        <div class="card" id="card">
            <div class="card-header">
                Registracija
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="email" class="cols-sm-2 control-label">Email</label>
                    <input type="text" class="form-control" name="email" id="email"  required placeholder="Unesite svoj email" >
                </div>
                <div class="form-group">
                    <label for="username" class="cols-sm-2 control-label">Korisnicko ime</label>
                    <input type="text" class="form-control" name="username" id="username"  required placeholder="Unesite korisnicko ime" >
                </div>
                <div class="form-group">
                    <label for="password_1" class="cols-sm-2 control-label">Lozinka</label>
                    <input type="password" class="form-control" name="password_1" id="password_1"  required placeholder="Unesite lozinku" >
                </div>
                <div class="form-group">
                    <label for="password_2" class="cols-sm-2 control-label">Ponovljena lozinka</label>
                    <input type="password" class="form-control" name="password_2" id="password_2"  required placeholder="Unesite ponovljenu lozinku">
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary btn-block" type="submit">Registruj se</button>
            </div>
        </div>
        <div class="alert alert-warning d-none" id="error-message"></div>
    </form>
</div>
 {% endblock %}