.social-icons {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0px 10px;
}
.social-icons  a  i.fa {
    font-size: 20pt;
    display: inline-block;
    margin: 5px;
}
.banner {
    width: 100%;
    height: 110px;
}
.manu {
    margin-bottom: 10px;
}
.category {
    padding: 20px 0px;
}
.search-box{
    margin-top: 15px;
}
.image{
    width: 100%;
}
.product{
    margin-bottom: 15px;
    border-bottom: 1px solid #c1c1c1;
    padding-bottom: 10px;
}
.categories {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    flex-wrap: wrap;
}

.category {
    width: 50%;
    padding: 50px 100px;
    border: 1px solid #ccc;
    border-radius: .25rem;
    background: rgba(200, 200, 200, 0.2);
    text-decoration: none;
    color: #000;
}

.category:hover {
    border: 1px solid #000;
    background: rgba(200, 200, 200, 0.6);
    color: black;
    text-decoration: none;
}
.card {
    margin-top: 15px;
}
.product-box {
    margin-top: 15px;
}
.product-body {
    margin-top: 10px;
}
#field {
    padding: 20px;
    margin-left: 0px;
    background-color: #fff;
    border-radius: .3rem;
    width: 100%;
}
#order-btn {
    padding: 10px 5px;
}

.footer {
    background-color: #ccc;
    text-align: center;
}
.footer-title{
    margin-top: 16px;
}
input.noFocus:focus {
    outline-style:none;
    box-shadow:none;
}
.input-group-addon{
    padding: 10px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px; 
}
.edit{
    padding: 10px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px; 
}
.delete{
    padding: 10px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px; 
}
.delete1{
    padding: 10px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}
a.edit:hover, a.delete:hover, a.delete1:hover {
    color: red;
}
.dashboard {
    font-size: 20px;
    margin-bottom: 0px;
}
.order-list {
    color: #000;
}
a.order-list:hover {
    text-decoration: none;
    color: red;
}

.product_ingredientd-footer .col-md-6 {
    padding: 0 2px;
}

.about p {
    font-size:14px;
}

#map {
    width:400px;
    height:400px;
}


@media only screen and (min-width:1024px){
    .orders {
        display: block;
        position: fixed;
        top: 200px;
        right: 0px;
    }
    .main {
        margin-bottom: 100px;
    }
    .phone {
        font-size: 22px;
    }
    .address {
        font-size: 17px;
    }
    #card {
        margin-bottom: 100px;
    }
    
}
@media only screen and (max-width: 600px) {
    #card {
        margin-bottom: 90px;
    }
}
@media screen and (max-width: 992px) {
    #card {
        margin-bottom: 90px;
    }

  }