{% extends "_global/index.html" %} {% block main %}
<div class="row">
    <form method="POST" class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3" id="card" onsubmit="return validateIngredientForm();">
        <h2 class="mb-0 ml-3 pt-2">Dodavanje sastojaka</h2>
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <a class="btn btn-outline-primary ml-3" href="{{ BASE }}admin/ingredients"><i class="fa fa-list" aria-hidden="true"></i> Lista</a>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="name">Ime sastojka</label>
                    <input type="text" id="name" class="form-control" name="name" placeholder="Unesite ime sastojka" required>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary btn-block" type="submit">Dodaj</button>
            </div>
        </div>
        <div class="alert alert-warning d-none" id="error-message"></div>
    </form>
</div>
{% endblock %}