{% extends "_global/index.html" %} {% block main %}
{% for ingredient in ingredients %}
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <p class="col-8 col-sm-9 col-md-10 col-lg-10 col-xl-10 m-0 p-2 pl-1">{{ ingredient.name|escape }}</p>
                    <div class="col-4 col-sm-3 col-md-2 col-lg-2 col-xl-2">
                        <a class="delete pull-right" href="{{ BASE }}admin/ingredients/delete/{{ ingredient.ingredient_id }}" onclick='if(!confirm("Da li ste sigurni?"))return false;'><i class="fa fa-times-circle" aria-hidden="true"></i></a>
                        <a class="edit pull-right" href="{{ BASE }}admin/ingredients/edit/{{ ingredient.ingredient_id }}"><i class="fa fa-pencil-square" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="btn-group mt-2" id="card">
            <a href="{{ BASE }}admin/profile" class="btn btn-outline-secondary">Nazad</a>
            <a href="{{ BASE }}admin/ingredients/add" class="btn btn-outline-secondary">Dodaj</a>
        </div>
{% endblock %}