{% extends "_global/index.html" %} {% block main %}
<p>{{ productIngredient.product_id }}</p>
<p>{{ productIngredient.ingredient_id }}</p>

{% endblock %} {% block naslov %} Proizvod - sastojak {% endblock %}