<a class="nav-item nav-link" href="{{ BASE }}"><i class="fa fa-home"></i> Pocetna</a>
<a class="nav-item nav-link" href="{{ BASE }}about-us"><i class="fa fa-info" ></i> O name</a>
<a class="nav-item nav-link" href="{{ BASE }}contact"><i class="fa fa-phone"></i> Kontakt</a>
