<a class="nav-item nav-link" href="{{ BASE }}admin/categories">Kategorije</a>
<a class="nav-item nav-link" href="{{ BASE }}admin/products">Proizvodi</a>
<a class="nav-item nav-link" href="{{ BASE }}admin/productIngredients">Proizvod - sastojci</a>
<a class="nav-item nav-link" href="{{ BASE }}admin/ingredients">Sastojci</a>
<a class="nav-item nav-link" href="{{ BASE }}admin/orders">Spisak porudzbina</a>
<a class="nav-item nav-link pull-right" href="{{ BASE }}admin/logout"><i class="fa fa-sign-out"></i> Odjavi se</a>